<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:include="components/head :: head"></div>
<!-- Custom styles for this template -->
<link href="assets/css/carousel.css" rel="stylesheet">
<body>
<div th:include="components/header :: header"></div>

<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<div><sec:authentication property="name"/></div>
Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>