<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:include="components/head :: head"></div>
<!-- Custom styles for this template -->
<link href="assets/css/carousel.css" rel="stylesheet">
<body>
<div th:include="components/header :: header"></div>

<br><br><br>
<div class="container">
    <h1 th:inline="text">欢迎，[[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-success" type="submit">退出登录</button>
    </form>
</div>
</body>
</html>