<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:include="components/head :: head"></div>
<!-- Custom styles for this template -->
<link href="assets/css/carousel.css" rel="stylesheet">
<title>铁路售票 - 正在处理订单</title>
<body>
<div th:include="components/header :: header"></div>
<br><br><br>
<div class="container">
    <h5 align="center">您的订单信息</h5>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th scope="row">车次</th>
            <td th:text="${train.trainNo}"></td>
        </tr>
        <tr>
            <th scope="row">出发地</th>
            <td th:text="${depart}"></td>
        </tr>
        <tr>
            <th scope="row">目的地</th>
            <td th:text="${destination}"></td>
        </tr>
        <tr>
            <th scope="row">发车时间</th>
            <td th:text="${train.departTime}"></td>
        </tr>
        </tbody>
    </table>
    <br>

    <p align="center">正在处理订单，请稍候...</p>
    <br>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success " role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script>
    //轮询抢票进度
    $(document).ready(function(){
        var times = 0;
       setInterval(function(){
           $.get("/check_order_state?ticket_id=[[${ticket_id}]]",function(data,status){
              if(status == "success"){
                  console.log(data);
                  rst = JSON.parse(data);
                  console.log(rst);
                  if(rst.result == true){
                      alert("购票成功");
                      window.location.href="/home";
                  }else{
                      console.log("fail");
                      times++;
                      if(times >= 2){
                          alert("购票失败");
                          window.location.href="/"
                      }
                  }
              }else{
                  alert("错误，请重试。");
              }
           });
        },5000);
    });
</script>
</body>
</html>