<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:include="components/head :: head"></th:block>
<title>铁路售票 - 车次查询</title>
<body>
<div th:include="components/header :: header"></div>

<br><br><br>
<div class="container">
    <p>您查询的信息：</p>
    <p>出发地：<span th:text="${depart}"></span> &nbsp; 目的地：<span th:text="${destination}"></span></p>
    <table class="table">
        <tr>
            <th>车次</th>
            <th>始发站</th>
            <th>终到站</th>
            <th>出发时间</th>
            <th>剩余座位</th>
            <th>票价</th>
            <th>购票</th>
        </tr>

        <div th:each="train,iterStat : ${trains}">
        <tr>
            <td th:text=${train.trainNo}></td>
            <td th:text=${train.departStation}></td>
            <td th:text=${train.destinationStation}></td>
            <td th:text=${train.departTime}></td>
            <td th:text=${train.seatsTotal-train.seatsSold}></td>
            <td th:text=${train.expense}></td>
            <td>
                <a th:if="${train.seatsTotal-train.seatsSold > 0}" th:href="@{/purchase(id=${train.id},depart=${depart},destination=${destination})}"><input type="button" class="btn btn-primary btn-sm" name="buy" id="buy" value="购票" /></a>
                <a th:if="${train.seatsTotal-train.seatsSold <= 0}" href="#"><input type="button" class="btn btn-primary btn-sm" value="无票" disabled/></a>
            </td>
        </tr>
        </div>
    </table>
</div>

<!--页脚-->
<!--div th:include="components/footer :: footer"></div-->
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2018 铁路售票 Inc.</p>
</footer>
</body>

</html>